<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService3Soap1" />
                <binding name="WebServiceAssignment4Soap" />
                <binding name="WebServiceAss5Soap" />
                <binding name="WebServiceAss6Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49848/WebService3.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService3Soap1" contract="Assignment3Reference.WebService3Soap"
                name="WebService3Soap1" />
            <endpoint address="http://localhost:49780/WebServiceAssignment4.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAssignment4Soap"
                contract="Assignment4Reference.WebServiceAssignment4Soap"
                name="WebServiceAssignment4Soap" />
            <endpoint address="http://localhost:49969/WebServiceAss5.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAss5Soap"
                contract="Assignment5Reference.WebServiceAss5Soap" name="WebServiceAss5Soap" />
            <endpoint address="http://localhost:49535/WebServiceAss6.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAss6Soap"
                contract="Assignment6Reference.WebServiceAss6Soap" name="WebServiceAss6Soap" />
        </client>
    </system.serviceModel>
</configuration>
